* {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* --- EN ÖNEMLİSİ (taşmayı keser) --- */
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* height → min-height yapıldı */
  background-color: #d5e1ef;
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-size: 1.375em; /* 22px */
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  color: #1f314f;
  margin-block-end: 1rem;
}

.card-text {
  font-family: "Outfit", sans-serif;
  font-size: 0.9375em; /* 15px */
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
  padding: 0 1rem;
  margin-block-start: 1.5rem;
}

/* --- KART --- */
.card {
  background: linear-gradient(180deg, #2c7dfa, #3685ff);
  position: relative;
  overflow: hidden;

  width: 100%;
  max-width: 100%; /* no owerflow */
  padding: 4rem;
  border-radius: 10px;
}

/* --- Circles --- */
.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  border-radius: 50%;
  filter: blur(1px);
  pointer-events: none;
}

/* up there */
.card::before {
  top: -120px;
  left: -85px;
}

/* down there */
.card::after {
  bottom: -180px;
  right: -130px;
}

/* inside wrapper */
.f-wrap {
  width: 100%; /* no overflow */
  max-width: 320px;
  padding: 1rem 1rem 2.5rem 1rem;
}

/* --- Stripes --- */
.card .stripes {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.03) 0px,
    rgba(255, 255, 255, 0.03) 50px,
    rgba(255, 255, 255, 0) 0px,
    rgba(255, 255, 255, 0) 80px
  );
}
